/*******Personagem*******\
\************************/

.personagem{
    padding: 10px;
    border: 1px solid #228b22;

    font-size: 1.4rem;
}

.personagem__nome{
    background-color: #228b22;
    color: #fff;
    text-align: center;
    font-size: 2em;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 0;
}

.personagem__imagem{
    margin: 20px 0;
    text-align: center;
}

.personagem__rodape{
    text-align: center;
}

/*******Botão*******\
\*******************/

.botao{
    border-radius: 5px;
    display: inline-block;
    background-color: 	#b22222;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
}

.botao:hover, .botao:focus{
    background-color: #8b0000;
}

/*******Baner*******\
\*******************/

.baner{
    font-size: 1.6rem;
    text-align: center;
}

.baner__titulo{
    margin: 0;
    color: #fff;
    font-size: 3.375em;
    line-height: 0.9;
    text-shadow: 3px 2px #000;
}

.baner__subtitulo{
    margin: 20px 0;
    color: #fff;
    font-size: 1em;
    
}

.baner__conhecer{
    margin: 10px 0;
    color: #fff;
    font-size: 1em;
}

@media (min-width: 992px){
    .baner{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2.2rem;
    }
}