.layout-cabecalho{
    height: 60px;
    border-bottom: 5px solid #b22222;
}

.layout-cabecalho img{
    margin-top: 12px;
}

/*******Personagem*******\
\************************/

.layout-personagens{
    padding: 40px 0;
}

/*******Baner*******\
\*******************/

.layout-baner{
    padding: 40px 0;

    background-color: #228b22;
}